# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/
ENV/

# VS Code
.vscode/

# Jupyter Notebook
.ipynb_checkpoints/

# Streamlit
.streamlit/secrets.toml

# Environment variables
.env

# macOS
.DS_Store

# Windows
Thumbs.db

# Python packaging
build/
dist/
*.egg-info/

# Logs
*.log

# Pytest
.pytest_cache/

# MyPy
.mypy_cache/

# Coverage reports
.coverage
htmlcov/

# Temporary files
*.tmp
*.temp

# Local databases
*.db
*.sqlite3
